
@import '../../index.scss';

@screen sm{
    .card-container{
        width: 90%;
        @apply p-3 mx-auto;
        .error{
            @apply w-full bg-red-600 h-10 text-center shadow-lg rounded-lg p-2 mb-4;
        }
        .card-index{
            @apply
            w-11/12
            mx-auto
            my-3
            w-11/12 
            rounded-lg;
            overflow:hidden;
            background: transparent;
            box-shadow: $sombra-box;
            .card-head{
                @apply w-full;
                img{
                    @apply w-full object-cover;
                }
            }
            .card-body{
                @apply p-1;
                hr{
                    @apply bg-gray-600;
                }
                .card-title{
                    @apply w-full m-auto text-center font-black text-2xl p-1;
                }
                .card-gruop-text{
                    @apply p-2;
                }
                .goCountry{
                    @apply text-center p-2 w-full text-blue-700  inline-block;
                }
                .goCountry:hover{
                    text-decoration:underline;
                }
            }
        }
    }
}


@screen md{
    .card-container{
        @apply p-2 grid grid-cols-2 gap-4;
        .card-index{
            @apply
            w-4/6
            my-3
            rounded-lg mx-auto;
            overflow:hidden;
            background: transparent;
            box-shadow: $sombra-box;
            .card-head{
                @apply w-full;
                img{
                    @apply w-full object-cover;
                }
            }
            .card-body{
                @apply p-1;
                hr{
                    @apply bg-gray-600;
                }
                .card-title{
                    @apply w-full m-auto text-center font-black text-2xl p-1;
                }
                .card-group-text{
                    @apply p-2;
                }
                .goCountry{
                    @apply text-center p-2 w-full text-blue-700  inline-block;
                }
                .goCountry:hover{
                    text-decoration:underline;
                }
            }
        }
    }
}

@screen lg{
    .card-container{
        @apply p-2 grid grid-cols-3 gap-4;
        .card-index{
            @apply
            w-4/6
            my-3
            rounded-lg mx-auto;
            overflow:hidden;
            background: transparent;
            box-shadow: $sombra-box;
            .card-head{
                @apply w-full;
                img{
                    @apply w-full object-cover;
                }
            }
            .card-body{
                @apply p-1;
                hr{
                    @apply bg-gray-600;
                }
                .card-title{
                    @apply w-full m-auto text-center font-black text-2xl p-1;
                }
                .card-group-text{
                    @apply p-2;
                }
                .goCountry{
                    @apply text-center p-2 w-full text-blue-700  inline-block;
                }
                .goCountry:hover{
                    text-decoration:underline;
                }
            }
        }
    }
}
@screen xl{
    .card-container{
        @apply p-2 grid grid-cols-4 gap-4;
        .card-index{
            @apply
            w-4/6
            my-3
            rounded-lg mx-auto;
            overflow:hidden;
            background: transparent;
            box-shadow: $sombra-box;
            .card-head{
                @apply w-full;
                img{
                    @apply w-full object-cover;
                }
            }
            .card-body{
                @apply p-1;
                hr{
                    @apply bg-gray-600;
                }
                .card-title{
                    @apply w-full m-auto text-center font-black text-2xl p-1;
                }
                .card-gruop-text{
                    @apply p-2;
                }
                .goCountry{
                    @apply text-center p-2 w-full text-blue-700  inline-block;
                }
                .goCountry:hover{
                    text-decoration:underline;
                }
            }
        }
    }
}


